<div>
    <div class="tree-current-fact-timer">{{fact.timeElapsedForCurrentUser}}</div>
    <div class="tree-current-fact" v-if="!editing">
        <input type="text" class="tree-current-fact-id" :value="fact.id" hidden>
        <div class="tree-current-fact-question">{{fact.question}}</div>
        <div class="tree-current-fact-answer">{{fact.answer}}</div>
    </div>
    <div class="tree-new-fact" v-if="editing">
        <input class="tree-id" v-model="fact.id">
        <input class="tree-new-fact-question" v-model="fact.question">
        <input class="tree-new-fact-answer" v-model="fact.answer">
        <button class="fact-new-save" v-on:click="changeFactForTree">Save</button>
    </div>
    <button v-on:click="toggleEditing">{{editing ? "Stop Editing" : "Edit"}}</button>
</div>
