{
        "apiKey": "AIzaSyC8v-QacPJKuPbkw0bN-g4w-r7BMOxydNg",
        "authDomain": "treesy-ac1ab.firebaseapp.com",
        "databaseURL": "https://treesy-ac1ab.firebaseio.com",
        "projectId": "treesy-ac1ab",
        "storageBucket": "treesy-ac1ab.appspot.com",
        "messagingSenderId": "542345567878"
}
